[submodule "Assets/UniGLTF"]
	path = Assets/UniGLTF
	url = https://github.com/ousttrue/UniGLTF.git
[submodule "glTF"]
	path = glTF
	url = https://github.com/KhronosGroup/glTF.git
[submodule "glTF-Sample-Models"]
	path = glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
[submodule "glTF-Asset-Generator"]
	path = glTF-Asset-Generator
	url = https://github.com/bghgary/glTF-Asset-Generator.git
